<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fime.labihc.papiromania">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CategoryActivity"
            android:label="Categorias"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fime.labihc.papiromania.MainActivity" />
        </activity>
        <activity
            android:name=".Instructions"
            android:label="@string/action_instructions"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CategorySelected"
            android:label="@string/activity_figures"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FigureSteps"
            android:label="@string/activity_steps"
            android:parentActivityName=".CategorySelected" />
        <activity
            android:name=".PapiStepPageViewerActivity"
            android:label="PapiPasos"
            android:parentActivityName=".CategoryActivity">
        </activity>
    </application>

</manifest>